.noto-serif{
  font-family: "Noto Serif", serif;
  max-width: 100%;
}

/* Header1 */

header{
    margin-top: 50px;
    
}
nav{
    justify-content: space-around;
    /* justify-content: space-between; */
    align-items: center;
}
.flex{
    display: flex;
}
.hul{
    list-style: none;
    gap: 1.2rem;
}
.hul a{
    text-decoration: none;
}
.home{
    color: #252432;
    font-weight: 700;
}
.card{
 color:#000000;
}
.hdiv3{
    justify-content: center;
    /* padding: 0 90px; */
    margin-top: 100px;
    align-items: center;
    gap:6rem;
}
.hdiv4{
   
}
.hdiv4 h1{
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

/* header2 */

.none{
    justify-content: space-between;
    margin:0 40px;
}
.none p{
    font-weight: 700;
    font-size: 1.25rem;
}

/* main */
/* sec0.5 */

.sec0{
      text-align: center; 
      margin-top: 80px;
}

/* Sec1 */
.plants{
    align-items: center;
}

.sec1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    margin: 0 12.5%;
    margin-top: 25px;
}
.card{
    margin: 0;
    margin-top:10px;
}
.center1{
    text-align: center;
}

/* sec2 */
.sec2{
    place-items:center;
    justify-content: center;
    gap: 5.5rem;
    margin-top: 150px;
}
.li h2{
    margin: 10px;
}
/* sec3 */
.sec3{
    text-align: center;
    margin-top: 100px;
}
.sec3 h2{
    margin: 10px;
}

/* sec4 */
.sec4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-items: center;
    padding: 12rem;
    padding-top: 0;
    
}
.bg-1{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../pic/deal-bloom.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    
}
.bg-1 p{
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}
.bg-1 a{
    color: white;
    font-weight: 600;
}
.bg-2{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../pic/deal-ana.png);
}
.bg-3{height: 210%;
    width: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../pic/deal-zabo.png)
    
}
/* sec5 */

.bg-4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../pic/news-letter-bg.png);
    height: 500px;
    
}
.bg-4 p{
    color: white;

}
.form{
    width: 700px;
    height: 1.9rem;

}
/* color & button & size */
.dark-2{
    color:rgba(0, 0, 0, 0.5) ;
    font-size: 10px;
}
.dark-3{
    color:gray;
    font-size: 15px;
}
.dark-4{
 color: #E95A08;
}
.button{
    
    border: 1px;
    background-color: #E95A08;
    color: aliceblue;
    width: 180px;
    padding: 10px 10px;

}
.size{
    font-weight: 700;
    font-size: 45px;
}


@media screen and (min-width :660px){
    .display-none{
    display: none;
}
.none{
    justify-content: space-between;
    margin:0 40px;
}
.none p{
    font-weight: 700;
    font-size: 1.25rem;
}
    
}

@media screen and (max-width : 660px) {
    /* header */
    .ha , .home{
        display: none;
    }
    .hdiv3{
        flex-direction: column-reverse;
    }
    .none{
    justify-content: space-between;
    margin:0 55px;
    align-items: center;
}
.none p{
    font-weight: 700;
    font-size: 1.25rem;
} 
/* main-sec1 */
.sec1{
    grid-template-columns:repeat(2,1fr);
}
.center1{
    text-align: center;
}
/* sec2 */
.sec2{
    flex-direction: column;
    margin-top: 120px;
    gap: 10px;
}
.li h2{
    margin: 0;
}
/* sec4 */
.sec4{
    grid-template-columns: repeat(1,1fr);
    padding: 10%;
}
.bg-3{ height: 200px;
    width: 300px;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../pic/deal-zabo.png)}

    /* sec5 */
    .form{
    width:15rem;
    height: 1.9rem;}
    .ii{
         border: 1px;
    background-color: #E95A08;
    color: aliceblue;
    width: 100px;
    padding: 10px 10px
    }

}