.noto-serif{
  font-family: "Noto Serif", serif;
  max-width: 100%;
}

/* Header1 */

header{
    margin-top: 50px;
    
}
nav{
    justify-content: space-around;
    /* justify-content: space-between; */
    align-items: center;
}
.flex{
    display: flex;
}
.hul{
    list-style: none;
    gap: 1.2rem;
}
.hul a{
    text-decoration: none;
}
.home{
    color: #252432;
    font-weight: 700;
}
.card{
 color:#000000;
}
.hdiv3{
    justify-content: center;
    /* padding: 0 90px; */
    margin-top: 100px;
    align-items: center;
    gap:6rem;
}
.hdiv4{
   
}
.hdiv4 h1{
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

/* header2 */

.none{
    justify-content: space-between;
    margin:0 40px;
}
.none p{
    font-weight: 700;
    font-size: 1.25rem;
}

/* main */
/* sec0.5 */

.sec0{
      text-align: center; 
      margin-top: 80px;
}

/* Sec1 */
.plants{
    align-items: center;
}

.sec1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    margin: 0 12.5%;
    margin-top: 25px;
}
.card{
    margin: 0;
    margin-top:10px;
}
.center1{
    text-align: center;
}

/* sec2 */
.sec2{
    place-items:center;
    justify-content: center;
    gap: 5.5rem;
    margin-top: 150px;
}
.li h2{
    margin: 10px;
}

/* color & button & size */
.dark-2{
    color:rgba(0, 0, 0, 0.5) ;
    font-size: 10px;
}
.dark-3{
    color:gray;
    font-size: 15px;
}
.dark-4{
 color: #E95A08;
}
.button{
    background-color: #E95A08;
    color: aliceblue;
    width: 180px;
    padding: 10px 10px;

}
.size{
    font-weight: 700;
    font-size: 45px;
}


@media screen and (min-width :660px){
    .display-none{
    display: none;
}
.none{
    justify-content: space-between;
    margin:0 40px;
}
.none p{
    font-weight: 700;
    font-size: 1.25rem;
}
    
}

@media screen and (max-width : 660px) {
    /* header */
    .ha , .home{
        display: none;
    }
    .hdiv3{
        flex-direction: column-reverse;
    }
    .none{
    justify-content: space-between;
    margin:0 55px;
    align-items: center;
}
.none p{
    font-weight: 700;
    font-size: 1.25rem;
} 
/* main-sec1 */
.sec1{
    grid-template-columns:repeat(2,1fr);
}
.center1{
    text-align: center;
}
.sec2{
    flex-direction: column;
    margin-top: 120px;
    gap: 10px;
}
.li h2{
    margin: 0;
}
}